@{
    Layout = "/Views/Shared/_AdminLayout.cshtml";
}

@section Styles {
    <!-- Stylesheets ============================================= -->
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,400i,700|Raleway:300,400,500,600,700|Crete+Round:400i" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="~/css/bootstrap.css" type="text/css" />
    <link rel="stylesheet" href="~/css/style.css" type="text/css" />
    <link rel="stylesheet" href="~/css/dark.css" type="text/css" />
    <link rel="stylesheet" href="~/css/font-icons.css" type="text/css" />
    <link rel="stylesheet" href="~/css/animate.css" type="text/css" />
    <link rel="stylesheet" href="~/css/magnific-popup.css" type="text/css" />

    <link rel="stylesheet" href="~/css/responsive.css" type="text/css" />

    <!-- Radio Checkbox Plugin -->
    <link rel="stylesheet" href="~/css/components/radio-checkbox.css" type="text/css" />

    <!-- Date & Time Picker CSS -->
    <link rel="stylesheet" href="~/css/datepicker.css" type="text/css" />
    <link rel="stylesheet" href="~/css/components/daterangepicker.css" type="text/css" />

    <!-- Bootstrap Data Table Plugin -->
    <link rel="stylesheet" href="~/css/components/bs-datatable.css" type="text/css" />

    <link rel="stylesheet" href="~/css/sweetalert2.css" type="text/css" />
}

<!-- Header  ============================================= -->
<header id="header" class="dark">

    <div id="header-wrap">

        <div class="container clearfix">

            <div id="primary-menu-trigger"><i class="icon-reorder"></i></div>

            <!-- Logo
            ============================================= -->
            <div id="logo">
                <a href="/" class="standard-logo" data-dark-logo="images/logo.png"><img src="images/logo.png" alt="theInventory"></a>
                <a href="/" class="retina-logo" data-dark-logo="images/logo.png"><img src="images/logo.png" alt="theInventory"></a>
            </div>
            <!--
            #logo end -->
            <!-- Primary Navigation
            ============================================= -->
            <nav id="primary-menu" class="style-6">

                <ul>
                    <li class="current"><a href=""><div>Dashboard</div></a></li>
                    <li><a href="/account/logout"><div>Log Out</div></a></li>
                </ul>

            </nav>
            <!-- #primary-menu end -->

        </div>

    </div>

</header>
<!-- #header end -->
<!-- #page-title end -->
<!-- Content
============================================= -->
<section id="content">

    <div class="content-wrap">

        <div class="container clearfix nobottommargin nobottompadding">
            <div class="col_full card">
                <form id="search-asteroids" name="search-asteroids" class="nobottommargin" asp-action="Search" asp-controller="Dashboard">

                    <div class="card-header">Search for Near-Collition Asteroids</div>
                    <div class="card-body">
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="inputName">Name</label>
                                <input class="required form-control" id="inputName" name="inputName" value="@ViewBag.Planet">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label>Start Date</label>
                                <div class="input-group input-daterange travel-date-group">
                                    <input type="text" id="startDate" name="startDate" value="@ViewBag.StartDate.ToString("dd/MM/yyyy")" class="form-control tleft format today" placeholder="DD/MM/YYYY" />
                                    <div class="input-group-append">
                                        <div class="input-group-text"><i class="icon-calendar2"></i></div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group col-md-6">
                                <label>End Date</label>
                                <div class="input-group input-daterange travel-date-group">
                                    <input type="text" id="endDate" name="endDate" value="@ViewBag.EndDate.ToString("dd/MM/yyyy")" class="form-control tleft format today" placeholder="DD/MM/YYYY" />
                                    <div class="input-group-append">
                                        <div class="input-group-text"><i class="icon-calendar2"></i></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card-footer">
                        <a href="javascript:searchClicked();" class="button button-3d button-mini button-rounded button-red"><i class="icon-search"></i><span>Search</span></a>
                    </div>
                </form>
            </div>

            <div class="tabs clearfix" id="tab-3">

                <ul class="tab-nav tab-nav2 clearfix">

                    <li><a href="#tabs-1">Near-Collition Asteroids</a></li>
                </ul>

                <div class="tab-container">

                    <!-- Tab COMPILED -->
                    <div class="tab-content clearfix" id="tabs-1">
                        <div class="col_full bottommargin-lg">
                            <div class="card">
                                <div class="card-body">
                                    <div class="input-daterange travel-date-group">
                                        <div id="searchResults">

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End Tab COMPILED -->

                </div>

            </div>

        </div>

    </div>

</section>
<!-- #content end -->

@section Scripts{
    <!-- External JavaScripts
    ============================================= -->
    <script src="~/js/jquery.js"></script>
    <script src="~/js/plugins.js"></script>

    <!-- Bootstrap Select Plugin -->
    <script src="~/js/components/bs-select.js"></script>

    <!-- Date & Time Picker JS -->
    <script src="~/js/components/moment.js"></script>
    <script src="~/js/datepicker.js"></script>

    <!-- Include Date Range Picker -->
    <script src="~/js/components/daterangepicker.js"></script>

    <!-- Bootstrap Data Table Plugin -->
    <script src="~/js/components/bs-datatable.js"></script>

    <!-- Footer Scripts
    ============================================= -->
    <script src="~/js/functions.js"></script>

    <!-- Site Scripts
    ============================================= -->
    <script src="~/js/site.js"></script>

    <script>
        $(document).ready(function () {
            searchClicked();
        });

        $(function () {
            $('.travel-date-group .today').datepicker({
                autoclose: true,
                startDate: "today",
                todayHighlight: true,
                format: 'dd/mm/yyyy'
            });
        });

        $(document).ready(function () {
            $.fn.dataTable.ext.search.push(
                function (settings, data, dataIndex) {
                    var min = settings.nTable.id == 'datatable1' ? $('#min').datepicker("getDate") : $('#min2').datepicker("getDate");
                    var max = settings.nTable.id == 'datatable1' ? $('#max').datepicker("getDate") : $('#max2').datepicker("getDate");

                    var dateParts = data[1].split("/");

                    var startDate = new Date(dateParts[2], dateParts[1] - 1, dateParts[0]);

                    if (min == null && max == null) { return true; }
                    if (min == null && startDate <= max) { return true; }
                    if (max == null && startDate >= min) { return true; }
                    if (startDate <= max && startDate >= min) { return true; }

                    return false;
                }
            );

            $("#min").datepicker({ onSelect: function () { table.draw(); }, changeMonth: true, changeYear: true });
            $("#max").datepicker({ onSelect: function () { table.draw(); }, changeMonth: true, changeYear: true });

            var table = $('#datatable1').DataTable();

            // Event listener to the two range filtering inputs to redraw on input
            $('#min, #max').change(function () {
                table.draw();
            });
        });

        function toastError() {
            var x = document.getElementById("snackbar");
            x.className = "show";
            setTimeout(function () { x.className = x.className.replace("show", ""); }, 3000);
        }

        function searchClicked() {
            var allValid = true;

            if (document.getElementById('inputName').value == '') {
                if (allValid) {
                    allValid = false;
                    $("#inputName").focus();
                }

                $("#inputName").addClass('error');
            }
            else
                $("#inputName").removeClass('error');

            if (document.getElementById('startDate').value != '') {
                if (moment(document.getElementById('startDate').value, 'DD/MM/YYYY', true).isValid())
                    $("#startDate").removeClass('error');
                else {
                    if (allValid) {
                        allValid = false;
                        $("#startDate").focus();
                    }

                    $("#startDate").addClass('error');
                }
            }

            if (document.getElementById('endDate').value != '') {
                if (moment(document.getElementById('endDate').value, 'DD/MM/YYYY', true).isValid())
                    $("#endDate").removeClass('error');
                else {
                    if (allValid) {
                        allValid = false;
                        $("#endDate").focus();
                    }

                    $("#endDate").addClass('error');
                }
            }

            try {
                var startDateParts = $("#startDate").val().split("/");
                var endDateParts = $("#endDate").val().split("/");

                if ((endDateParts[0] - startDateParts[0]) > 7) {
                    if (allValid) {
                        allValid = false;
                        $("#endDate").focus();
                    }

                    $("#endDate").addClass('error');

                    swal({
                        title: "Dates Error",
                        text: "Dates cannot be for more than a week (7 days).",
                        type: "error",
                        showCancelButton: false,
                    }).then(function() {
                    });
                }
            }
            catch (err) {
                $("#endDate").addClass('error');
            }

            if (allValid) {
                swal({
                    title: "Search for Asteroids",
                    text: "Do you want to search for near-collision asteroids to planet: " + $("#inputName").val() + "?",
                    type: "warning",
                    showCancelButton: true,
                }).then(function() {
                    $.ajax({
                        url: '@Url.Action("Search", "Dashboard")',
                        type: 'GET',
                        cache: false,
                        data: {
                            planet: $("#inputName").val(),
                            start_date: $("#startDate").val(),
                            end_date: $("#endDate").val()
                        },
                        success: function(data) {
                            $("#searchResults").html(data);
                        }
                    });
                });
            }
        }
    </script>
}